@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html * {
    font-family: 'Open Sans', sans-serif;
}

.main {
    margin-left: 3em;
    float: left;
    width: 760px;
}

.article {
    background: mediumseagreen;
    border-style: solid;
    border-color: mediumseagreen;
    border-radius: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-top: 25px;

}

.article h2 {
    padding: 10px;
    color: white;
}

.article p {
    color: white;
    font-weight: bold;
}

.article a:link {
    text-decoration: none;
}

img {
    width: 540px; /* you can use % */
    height: auto;
}

.newspage-article pre {
    max-width: 500px;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/.white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.article span {

    background: white;
    border-radius: 10px;
    padding: 10px;
    color: mediumseagreen;
    background-color: white;
    font-weight: bold;
    margin-left: 10px;
}

.article span:first-of-type {
    margin-left: 0px;
}

.newspage-article {
    background-color: white;
    border: none;
}

.navbar ul {
    list-style-type: none;
    background: mediumseagreen;
    border-radius: 10px;
    margin: 50px;
    padding: 15px;
    padding-left: 20px;

}

.navbar li {
    display: inline-block;

}

.navbar a {
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: white;

}

.navbar a:hover {
    background: white;
    color: mediumseagreen;

}

.navbar li:last-child {
    float: right;
}

.navbar .optional {
    float: right;
}

form input:not([type=submit]) {
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
    margin: 10px;
}

form textarea {
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
    margin: 10px;
}

.newsform input {
    font-size: 25px;
    border-radius: 15px;
    background-color: mediumseagreen;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;

}

.newsform textarea {
    font-size: 20px;
    border-radius: 15px;
    background-color: mediumseagreen;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.newsform p {
    font-size: 20px;
    border-radius: 15px;
    color: mediumseagreen;
    font-weight: bold;
    padding: 10px;

}

.select {
    font-size: 20px;
    width: 500px;
    padding: 10px;
    background-color: mediumseagreen;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 15px;
}

.select option {
    padding: 3px;
}

.errors ul {
    width: 500px;
    background-color: pink;
    color: red;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.errors {
    margin-left: 25px;
}

.errors li {
    padding: 5px;
}

.messages {
    margin-left: 25px;
}

.messages ul {
    width: 500px;
    background-color: mediumaquamarine;
    color: green;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.messages li {
    padding: 10px;
}

li a {
    text-decoration: none;
    color: white;
}

.aside {
    margin-right: 200px;
    float: right;
    width: 180px;
}

.aside li {
    padding: 10px;
    list-style: none;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.aside ul {
    margin-right: 10px;
    border-style: solid;
    border-color: white;
    background-color: mediumseagreen;
    margin-bottom: 80px;
    width: 300px;

}

.delete input {
    padding: 15px;
    border-radius: 10px;
    background-color: pink;
    font-weight: bold;
    color: red;
    font-size: 20px;
    float: right;
    box-shadow: 2px 2px black;
}

.delete input:hover {
    cursor: pointer;
}


