<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Header template</title>
</head>
<body>

<header th:fragment="header">
    <div class="navbar">
        <ul>
            <li> <a th:href="@{/}">Etusivu</a></li>
            <li th:each="c : ${navbarCategories}">
                <a th:href="@{/news/{category}(category=${c.name})}"><span th:text="${c.name}"></span> </a></li>
            <li> <a th:href="@{/modify}">Muokkaa näkymää</a></li>
        </ul>

    </div>
</header>

</body>
</html>