<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Header template</title>
</head>
<body>



    <div th:fragment="luetuimmat">
        <ul>
            <li>yks</li>
            <li>kaks</li>
            <li>kolme</li>
        </ul>
    </div>

    <div th:fragment="uusimmat">
        <ul>
            <li>kaks</li>
            <li>yks</li>
            <li>kaks</li>
        </ul>
    </div>

</body>
</html>