<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Header template</title>
</head>
<body>


<div th:fragment="luetuimmat">
    <h2>Viime viikon luetuimmat uutiset</h2>
    <div th:if="${!#lists.isEmpty(mostPopular)}">
        <ul>
            <li th:each="n : ${mostPopular}">
                <a th:href="@{/newsStory/{id}(id=${n.id})}"><span th:text="${n.header}">msg</span></a>
                <p></p><span>Julkaistu: </span><span th:text="${n.publishdate}">date</span>
            </li>
        </ul>
    </div>
</div>


<div th:fragment="uusimmat">
    <h2>Uusimmat</h2>
    <div th:if="${!#lists.isEmpty(newest)}">
        <ul>
            <li th:each="n : ${newest}">
                <a th:href="@{/newsStory/{id}(id=${n.id})}"><span th:text="${n.header}">msg</span></a>

                <p></p><span>Julkaistu: </span><span th:text="${n.publishdate}">date</span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>