.main {
    margin-left: 300px;
    float: left;
    width: 760px;
}
.aside {
    margin-right: 140px;
    float: right;
    width: 180px;
}

.aside li {
    border-style: solid;
}



.navbar ul {
    list-style-type: none;
    margin: 0;
    background: mediumseagreen;
    border-radius: 10px;
    margin: 50px;

}

.navbar li {
    padding: 25px;
    display: inline-block;

}

.navbar li:last-child {
    float:right;
}

.navbar li:hover {
    background: white;
}

form input:not([type=submit]) {
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
    margin: 10px;
}

form textarea {
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
    margin: 10px;
}
