@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html * {
    font-family: 'Open Sans', sans-serif;
}

.main {
    margin-left: 3em;
    float: left;
    width: 760px;
}

.article {
    background: mediumseagreen;
    border-style: solid;
    border-color: mediumseagreen;
    border-radius: 25px;
    padding-left: 20px;
    padding-bottom: 25px;

}

.article h2 {
    padding: 10px;
    color: white;
}

img {
    width: 540px; /* you can use % */
    height: auto;
}

.article span {

    background: mediumseagreen;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

#article-category {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    color: mediumseagreen;
    font-weight: bold;
}

.aside {
    margin-right: 140px;
    float: right;
    width: 180px;
}

.aside li {
    border-style: solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    background: mediumseagreen;
    border-radius: 10px;
    margin: 50px;

}

.navbar li {
    padding: 25px;
    display: inline-block;

}

.navbar li:last-child {
    float: right;
}

.navbar li:hover {
    background: white;
}

form input:not([type=submit]) {
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
    margin: 10px;
}

form textarea {
    display: block; /* IE fix */
    min-width: 0; /* fix for min-width: auto */
    margin: 10px;
}
