<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tyylisivu.css}"/>
    <title>Title</title>
</head>

<header th:replace="fragments/navbar :: header">
    <p>testataan</p>
</header>

<div th:replace="fragments/errors :: errors"></div>

<body>

<div class="main">
    <div class="article">
        <form class="newsform" th:object="${category}" th:action="@{/addCategory}" method="POST">
            <br>Kategorian nimi</br>
            <input th:field="*{name}" type="text"/>

            <input type="submit" value="Add category!"/>
        </form>


        <form class="newsform" th:object="${newswriter}" th:action="@{/addNewswriter}" method="POST">
            <br>Kirjoittajan nimi</br>
            <input th:field="*{name}" type="text"/>

            <input type="submit" value="Add category!"/>
        </form>


    </div>
</div>


<div class="aside">

    <div th:replace="fragments/sideColumn :: luetuimmat">
        <p>testi</p>
    </div>

    <div th:replace="fragments/sideColumn :: uusimmat">
        <p>dodi</p>
    </div>
</div>

</body>
</html>