<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tyylisivu.css}"/>
    <title>Title</title>
</head>

<header th:replace="fragments/navbar :: header">
    <p>testataan</p>
</header>

<body>

<div class th:replace="fragments/errors :: errors">
</div>

<div class="main">
    <form th:action="@{/addNews}" method="POST" id="newsform" enctype="multipart/form-data">
        <h2>Otsikko</h2>
        <input type="text" name="header" th:value="${news.header}"/>
        <p>Ingressi</p>
        <textarea name="ingress" th:value="${news.ingress}" style="width: 600px; height: 100px;"></textarea>
        <p>Content</p>
        <textarea name="content" th:value="${news.content}" style="width: 600px; height: 100px;"></textarea>

        <p>Writers:</p>
        <select class="select" name="writers" form="newsform" multiple="multiple">
            <option th:each="writer : ${writers}"
                    th:value="${writer.id}"
                    th:text="${writer.name}"></option>
        </select>

        <p>Categories:</p>

        <select class="select" name="categories" form="newsform" multiple="multiple">
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>

        <p>News picture</p>
        <input type="file" name="newsObject"/>

        <input type="submit" value="Send!"/>
    </form>

</div>
<div class="aside">

    <div th:replace="fragments/sideColumn :: luetuimmat">
        <p>testi</p>
    </div>

    <div th:replace="fragments/sideColumn :: uusimmat">
        <p>dodi</p>
    </div>
</div>

</body>
</html>