<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<div th:replace="fragments/top :: head"></div>


<header th:replace="fragments/navbar :: header">
    <p>testataan</p>
</header>

<body>

<div class th:replace="fragments/errors :: errors">
</div>

<div class="main">

    <div class="delete">


        <form th:if="${news.id == null}" th:action="@{/news/delete/{id}(id=${news.editId})}" th:method="DELETE">
            <input type="submit" value="Delete newsstory!">
        </form>
        <form th:if="${news.id != null}" th:action="@{/news/delete/{id}(id=${news.id})}" th:method="DELETE">
            <input type="submit" value="Delete newsstory!">
        </form>

    </div>
    <form class="newsform" th:action="@{/news/edit}" th:object="${news}" method="POST" enctype="multipart/form-data">

        <div th:replace="fragments/newsFragment :: newsForm">
        </div>

        <input type="submit" value="Update newsstory!"/>
    </form>

</div>
<div class="aside">

    <div th:replace="fragments/sideColumn :: luetuimmat">
        <p>testi</p>
    </div>

    <div th:replace="fragments/sideColumn :: uusimmat">
        <p>dodi</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="javascript/main.js"></script>

</body>
</html>