<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">


<div th:replace="fragments/top :: head"></div>


<header th:replace="fragments/navbar :: header">
    <p>testataan</p>
</header>
<body>

<div th:replace="fragments/errors :: errors"></div>

<div class="main">
    <div class="newsform">
        <form th:action="@{/registration}" method="POST">
            <br>Nimi</br>
            <input type="text" name="name"/>

            <br>Salasana</br>
            <input type="password" name="password"/>


            <input type="submit" value="Register!"/>
        </form>
    </div>

</div>

</body>
<div class="aside">

    <div th:replace="fragments/sideColumn :: uusimmat">
        <p>testi</p>
    </div>

    <div th:replace="fragments/sideColumn :: luetuimmat">
        <p>dodi</p>
    </div>
</div>